In [1]:
#List and default items 
# a list is a container which canhold different data type in it 
# List is used in stored in a huge amount of Data

In [17]:
lst=['sana',10,786,11.22,[1,2,3,4,5,6,7,8,9,0],'zakir',786786]

In [9]:
lst

['sana', 10, 786, 11.22, [1, 2, 3], 'zakir', 786786]

In [10]:
lst[2]

786

In [11]:
lst[2]

786

In [12]:
lst[2:4]

[786, 11.22]

In [13]:
lst[2:6]

[786, 11.22, [1, 2, 3], 'zakir']

In [14]:
lst[2:8]

[786, 11.22, [1, 2, 3], 'zakir', 786786]

In [15]:
#Lets see "SUB-LIST" in a "LIST"
LST[4][2]

NameError: name 'LST' is not defined

In [16]:
lst[4][2]

3

In [18]:
lst[4][8
    ]

9

In [19]:
lst[4][10]

IndexError: list index out of range

In [20]:
lst[4][9
    ]

0

In [22]:
lst[0]

'sana'

In [23]:
#List is a complex data type which is
# derived from LIST Object
# 
# Every Objects will have some "METHODS"
#lets see List Object's Methods

In [24]:
# Method lst.append() Method used as adding a item at end of the List
lst.append("Sanaullah")

In [25]:
lst

['sana',
 10,
 786,
 11.22,
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 0],
 'zakir',
 786786,
 'Sanaullah']

In [27]:
lst.index(10) # It is used as giving Index of Element in the  Items 
# for example elements are  ["sana", 10,786,11.22,[1,2,3,4,5,6,7,8,9,0],'zakir',786786,'Sanaullah']

1

In [28]:
lst['sanaullah']

TypeError: list indices must be integers or slices, not str

In [29]:
lst['Sanaullah']

TypeError: list indices must be integers or slices, not str

In [30]:
lst.index('Sanaullah')

7

# lst[-3]

In [32]:
lst[-0]

'sana'

In [33]:
lst[-1]

'Sanaullah'

In [34]:
lst[-4][8]

9

# DICTIONARY Function

In [36]:
#Dictionary and it default's functions
# This is a "KEY VALUE" pair data structure  it is complex,
# IT is an Object of DICT class in Python
# Data is  stored like-->
# SYNTAX  be like 
# {"Key": "Value", "Cat":"Mee yau"}
# Dictionary uses as "DIT" "dit"
# Dictionary is used in "bank details"
# Dictionary is majorly used for "JSON" 
# (JSON-it is used retrieve and store the data from client side server)

In [12]:
dit={"name":"sanaullah", "age":"24","number":"8332******", "email":"sana@gmail.com"}

In [13]:
dit

{'name': 'sanaullah',
 'age': '24',
 'number': '8332******',
 'email': 'sana@gmail.com'}

In [14]:
dit={"hobbie":"Reading books"}

In [15]:
dit

{'hobbie': 'Reading books'}

In [16]:
dit

{'hobbie': 'Reading books'}

In [17]:
dit={"name":"sanaullah", "age":"24","number":"8332******", "email":"sana@gmail.com"}

In [18]:
dit

{'name': 'sanaullah',
 'age': '24',
 'number': '8332******',
 'email': 'sana@gmail.com'}

In [19]:
#Retieving a value from Dictionary
dit.get('name')# first method to get name

'sanaullah'

In [20]:
dit["name"]# second method to get name

'sanaullah'

In [21]:
dit.items()

dict_items([('name', 'sanaullah'), ('age', '24'), ('number', '8332******'), ('email', 'sana@gmail.com')])

In [22]:
dit.keys()

dict_keys(['name', 'age', 'number', 'email'])

In [23]:
dit["Skill"]="Coding"#Adding A New element in dictionary

In [24]:
dit

{'name': 'sanaullah',
 'age': '24',
 'number': '8332******',
 'email': 'sana@gmail.com',
 'Skill': 'Coding'}

In [25]:
dit["Search ingine"] ="Google Chrome"

In [27]:
dit

{'name': 'sanaullah',
 'age': '24',
 'number': '8332******',
 'email': 'sana@gmail.com',
 'Skill': 'Coding',
 'Search ingine': 'Google Chrome'}

In [28]:
dit

{'name': 'sanaullah',
 'age': '24',
 'number': '8332******',
 'email': 'sana@gmail.com',
 'Skill': 'Coding',
 'Search ingine': 'Google Chrome'}

In [29]:
dit["Job"]="Remotely"

In [30]:
dit

{'name': 'sanaullah',
 'age': '24',
 'number': '8332******',
 'email': 'sana@gmail.com',
 'Skill': 'Coding',
 'Search ingine': 'Google Chrome',
 'Job': 'Remotely'}

# Sets Set Start with "st" 
# Set elements will be in "{Elements should be present in { } }"
# st = { element}

In [31]:
#Sets are used for storing uniqune values in the Python, 
#Sets are complex data struct .
#Sets are a class in Python,who object can be derived 
#[Sets aee mostly used for finding UNION, disjoin and finding 
#[commons and #uncommon's the Python Data Type].

In [32]:
st = {'sana', 'Python', 1,2,3,3,4,5,6,7,7,8,7,9}

In [33]:
st

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'Python', 'sana'}

In [36]:
st1={"sana"}

In [37]:
st1.issubset(st)

True

In [38]:
st

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'Python', 'sana'}

# Tuple It 
# it says "tup" and written in 
# tup =( "elements" )

#Tuples are ordered Immutable collection of Objects
# Once the data is written it's in that for ever
# it can't be changed 
# Example?

In [40]:
tup = ('sanaullah', '@', '!', '$', 'Letsupgrade')

In [41]:
tup

('sanaullah', '@', '!', '$', 'Letsupgrade')

In [42]:
tup.index("@")

1

In [44]:
tup.index("Letsupgrade")

4

# Boolean

In [ ]:
# This is basic Data Type which store "true" or "flase"

In [45]:
abc = True

In [47]:
xyz = False

In [48]:
abc

True

In [49]:
xyz

False

In [52]:
abc == xyz

True